
GOOGLE_MAPS_API_KEY=your_api_key_here


SNOWFLAKE_ACCOUNT=your_acc_identifier
SNOWFLAKE_USER=your_username


SNOWFLAKE_PASSWORD=your_snowflake_password


SNOWFLAKE_DATABASE=TRAFFIC_PIPELINE
SNOWFLAKE_SCHEMA=BRONZE
SNOWFLAKE_WAREHOUSE=TRAFFIC_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN

# depends on where Kafka runs
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# configurable names
KAFKA_TOPIC=traffic.raw.events
KAFKA_DLQ_TOPIC=traffic.dlq
